
.carousel-item{
    background-color: rgb(0, 204, 255);
    border-radius: 200px;
    
}
.error, .errorsignup, .errorlogin,.errorCreate,.erroradmin{
    color: red;
    font-size: 18px;
    display: block;
}
.studentAdmission{
    background-image: linear-gradient(rgba(85, 233, 238, 0.4), rgba(30, 60, 90, 0.267)), url('../image/student.jpg');
    background-size: 100%;
    color: white;
    font-weight: bold;
}
.ourstaff{
    background-image: linear-gradient(rgba(113, 129, 129, 0.5), rgba(30, 60, 90, 0.267)), url(../image/staff.jpg);
    background-size: 100%;
    color: white;
}

